.appstore-view {

    header {
        height: 50px;
        line-height: 50px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
        background-image: url("./images/logo.png");
        background-size: auto 90%;
        background-repeat: no-repeat;
        background-position-x: 5px;
        padding-left: 50px;
        font-size: 18px;
        font-weight: 800;
    }

    ul {
        text-align: left;
        padding: 20px 10px;

        &>li {
            text-align: center;
            display: inline-block;
            margin: 10px;
            width: 90px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            &>img {
                border-radius: 10px;
                width: 50px;
            }

            &>h2 {
                font-size: 14px;
                line-height: 2em;
            }
        }
    }

}